:root{
    --Pale-blue: hsl(209, 100%,61%);
    --gray: hsl(0, 0%, 77%);
    --border: hsl(209, 100%, 61%);
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Roboto;
}

.headerbg{
    position: relative;;
    background-image: url('../assets/images/home/O9FG4R0 1.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 70%;
    padding: 40%;
    /* height: auto; */
}

header{
    margin-top: 16px;
   position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.links a{
    text-decoration: none;
    color: black;
    margin: 20px;
    font-size: 24px;
    font-weight: 600;
    padding: 5px;
}

.links .active{
    border-bottom: 1px solid black;
}

.links .login{
    background-color: var(--Pale-blue);
    border-radius: 50px;
    padding: 6px 36px;
    color: #fff;
    
}

.login a{
    border: 2px var(--border);
    outline: 5px var(--border);
}

.home{
    display: flex;
    margin-top: 198px;
    max-width:  100% ;
    height: auto;
    position: absolute;
     top: 60px;
    /* justify-content: space-between;  */
    /* margin-left: 30px; */
    
}

.leftSide{
    width: 65%;
    
    /* flex-grow: 1; */
}

 .rightSide{
    width: 30%;
    /* display: flex; */
    /* flex-direction: column;
    align-items: flex-end;
    margin-left: 40px;
    align-self: flex-end; */
    
    
} 

.rightSide img{
   /* disp */
   
    
}

.message h1{
  /* text-align: center; */
  /* /* font-size: 64px; */
  /* width: 490px; */
} */

footer p{
    text-align: center;
    background-color: var(--gray);
    padding: 356px 488px 15px;
}